<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RollTheDice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RollTheDice.Properties.Settings>
            <setting name="MainFormSize" serializeAs="String">
                <value>735, 345</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RuleFormSize" serializeAs="String">
                <value>503, 389</value>
            </setting>
            <setting name="RuleFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="RuleFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DisplayFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DisplayFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DisplayFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ImportRuleFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ImportRuleFormSize" serializeAs="String">
                <value>460, 316</value>
            </setting>
            <setting name="ImportRuleFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LoadMainFormSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadRuleFormSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadDisplayFormSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadImportFormSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </RollTheDice.Properties.Settings>
    </userSettings>
</configuration>